
@{
    ViewBag.Title = "Duzeltici";
    Layout = "~/Views/SharedA/_Layout.cshtml";
}

@{
    if (Request.QueryString["h"] != null)
    {
        <script>alert('@Request.QueryString["h"]');</script>

    }

}
@model BettaPlanet.Models.Entities.URUNLER

<title>Admin | Düzelnel</title>

<div class="page-container">
    <!--/content-inner-->
    <div class="left-content">
        <div class="mother-grid-inner">

            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a><i class="fa fa-angle-right"></i>Forms <i class="fa fa-angle-right"></i> Input</li>
            </ol>
            <!--grid-->
            <div class="grid-form">
                <!----->

                <div class="grid-form1">
                    <form action="/Admin/UrunDuzenle/@Model.id" name="formName" id="formName" class="form-horizontal xz" method="post">
                        <h3>ÜRÜN EKLEME</h3>
                        <div class="tab-content">
                            <div class="tab-pane active" id="horizontal-form">

                                <div class="form-group">
                                    <label for="focusedinput" class="col-sm-2 control-label">Renk variyantı ve Isim</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="urunadi" class="form-control1  bbb" id="Renk" placeholder="İlk Renk yazılacak...! " data-check="req" data-hata="Boş alanı doldurunuz." value="@Model.urunadi">
                                    </div>
                                    <input type="hidden" value="@Model.id" />
                                </div>
                                <div class="form-group">
                                    <label for="focusedinput" class="col-sm-2 control-label">Tahmini Yaş Bilgisi</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control1 bbb" id="Yas" data-check="req" data-hata="Boş alanı doldurunuz." name="yas" value="@Model.yas">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="Tecrube" class="col-sm-2 control-label">TECRÜBE</label>
                                    <div class="col-sm-8">
                                        <select id="Tecrube" class="form-control1  bbb" name="tecrube">
                                            <option value="@Model.tecrube">@Model.tecrube</option>
                                            <option value="Yok">YOK</option>
                                            <option value="Var">VAR</option>
                                        </select>
                                    </div>
                                </div>




                                <div class="form-group">
                                    <label for="kuyruk" class="col-sm-2 control-label">KUYRUK SECIMI </label>
                                    <div class="col-sm-8">
                                        <select name="kuyruk" id="Kuyruk" class="form-control1  bbb" data-check="req" data-hata="Boş alanı doldurunuz.">
                                            <option value="@Model.kuyruk">@Model.kuyruk</option>
                                            <option value="HM">HM</option>
                                            <option value="HMPK">HMPK</option>
                                            <option value="OHM">OHM</option>
                                            <option value="OHPK">OHPK</option>
                                            <option value="CROWNTAIL">CROWNTAİL</option>
                                            <option value="VEILTEIL">VEILTEIL</option>
                                            <option value="BUTTERFLY">BUTTERFLY</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="focusedinput" class="col-sm-2 control-label">Fiyat</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control1  bbb" id="Fiyat" placeholder="Fiyat Bilgisi Giriniz..." data-check="req" data-hata="Boş alanı doldurunuz." name="fiyat" value="@Model.fiyat">
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="panel-body">
                        </div>
                        <div class="bs-example" data-example-id="form-validation-states-with-icons">



                            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">File input</label>
                            <input type="file" id="inputpic" class="bbb" data-check="req" data-hata="Boş alanı doldurunuz."value="@Model.resim">
                            <p class="help-block">Example block-level help text here.</p>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">

                                     <a href="/Admin/UrunDuzenle/@Model.id"> <input type="submit" value="Submit" />  </a>

                                    <input type="button" class="btn-primary btn" id="submit" value="Submit" />
                                    <input type="reset" class="btn-inverse btn" id="reset" value="Reset" />
                                    <input type="button" class="btn-default btn" onclick="window.location.href='/Admin/Index'" value="Cancel">
                                </div>
                            </div>

                        </div>
                    </form>
                </div>

            </div>
            <!--//grid-->
            <!-- script-for sticky-nav -->
            <script>
                $(document).ready(function () {
                    var navoffeset = $(".header-main").offset().top;
                    $(window).scroll(function () {
                        var scrollpos = $(window).scrollTop();
                        if (scrollpos >= navoffeset) {
                            $(".header-main").addClass("fixed");
                        } else {
                            $(".header-main").removeClass("fixed");
                        }
                    });

                });
            </script>
            <!-- /script-for sticky-nav -->
            <!--inner block start here-->
            <div class="inner-block">

            </div>
            <!--inner block end here-->
            <!--copy rights start here-->
            <!--COPY rights end here-->
        </div>
    </div>
    <!--//content-inner-->
    <!--/sidebar-menu-->
    <div class="sidebar-menu">
        <header class="logo1">
            <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
        </header>
        <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
        <div class="menu">
            <ul id="menu">
                <li><a href="index.html"><i class="fa fa-tachometer"></i> <span>Dashboard</span><div class="clearfix"></div></a></li>


                <li id="menu-academico"><a href="inbox.html"><i class="fa fa-envelope nav_icon"></i><span>Inbox</span><div class="clearfix"></div></a></li>
                <li><a href="gallery.html"><i class="fa fa-picture-o" aria-hidden="true"></i><span>Gallery</span><div class="clearfix"></div></a></li>
                <li id="menu-academico"><a href="charts.html"><i class="fa fa-bar-chart"></i><span>Charts</span><div class="clearfix"></div></a></li>
                <li id="menu-academico">
                    <a href="#"><i class="fa fa-list-ul" aria-hidden="true"></i><span> Short Codes</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
                    <ul id="menu-academico-sub">
                        <li id="menu-academico-avaliacoes"><a href="icons.html">Icons</a></li>
                        <li id="menu-academico-avaliacoes"><a href="typography.html">Typography</a></li>
                        <li id="menu-academico-avaliacoes"><a href="faq.html">Faq</a></li>
                    </ul>
                </li>
                <li id="menu-academico"><a href="errorpage.html"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i><span>Error Page</span><div class="clearfix"></div></a></li>
                <li id="menu-academico">
                    <a href="#"><i class="fa fa-cogs" aria-hidden="true"></i><span> UI Components</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
                    <ul id="menu-academico-sub">
                        <li id="menu-academico-avaliacoes"><a href="button.html">Buttons</a></li>
                        <li id="menu-academico-avaliacoes"><a href="grid.html">Grids</a></li>
                    </ul>
                </li>
                <li><a href="tabels.html"><i class="fa fa-table"></i>  <span>Tables</span><div class="clearfix"></div></a></li>
                <li><a href="maps.html"><i class="fa fa-map-marker" aria-hidden="true"></i>  <span>Maps</span><div class="clearfix"></div></a></li>
                <li id="menu-academico">
                    <a href="#"><i class="fa fa-file-text-o"></i>  <span>Pages</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
                    <ul id="menu-academico-sub">
                        <li id="menu-academico-boletim"><a href="calendar.html">Calendar</a></li>
                        <li id="menu-academico-avaliacoes"><a href="signin.html">Sign In</a></li>
                        <li id="menu-academico-avaliacoes"><a href="signup.html">Sign Up</a></li>


                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-check-square-o nav_icon"></i><span>Forms</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
                    <ul>
                        <li><a href="input.html"> Input</a></li>
                        <li><a href="validation.html">Validation</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
